<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Blog" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-full bg-gray-50 font-mono">
    <div class="flex h-full">
      <!-- Sidebar -->
      <div class="w-72 bg-white border-r-2 border-gray-200 p-6 overflow-y-auto">
        <div class="mb-12">
          <h1 class="text-2xl font-bold text-gray-900 mb-6 pb-2 border-b-2 border-gray-200">
            Tidbits, Thoughts
          </h1>
          <div class="space-y-2">
            <a href="/about" class="block px-3 py-2 rounded hover:bg-gray-50 text-gray-700 hover:text-gray-900 transition-colors">
              What's My Schtick? Who is this guy?
            </a>
            <a href="/" class="block px-3 py-2 rounded hover:bg-gray-50 text-gray-700 hover:text-gray-900 transition-colors">
              The Posts
            </a>
          </div>
        </div>
        
        <div>
          <h2 class="text-lg font-bold text-gray-900 mb-4 pb-2 border-b-2 border-gray-200">
            Recent Posts
          </h2>
          <div class="space-y-6">
            <%= for {title, date, slug} <- recent_posts() do %>
              <div class="group">
                <a href={~p"/post/#{slug}"} class="block">
                  <h3 class="text-sm font-medium text-gray-900 group-hover:text-blue-600 transition-colors">
                    <%= title %>
                  </h3>
                  <p class="text-xs text-gray-500 mt-1 font-normal">
                    <%= date %>
                  </p>
                </a>
              </div>
            <% end %>
          </div>
        </div>
        <div>
          <h2 class="mt-4 text-lg font-bold text-gray-900 mb-4 pb-2 border-b-2 border-gray-200">
            Posts by Tag
          </h2>
          <%= for {tag, posts} <- posts_by_tag() do %>
            
            <div class="space-y-6">
              <div class="group">
                <a href={~p"/post/#{tag}"} class="block">
                  <h3 class="text-sm font-medium text-gray-900 group-hover:text-blue-600 transition-colors">
                    <%= tag %>
                  </h3>
                  <p class="text-xs text-gray-500 mt-1 font-normal">
                    <%= for {title, slug} <- posts do %>
                      <a href={~p"/post/#{slug}"} class="block">
                        <h6 class="text-sm font-medium text-gray-900 group-hover:text-blue-600 transition-colors">
                            <%= title %>
                        </h6>
                      </a>
                    <% end %>
                  </p>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Main content -->
      <main class="flex-1 overflow-y-auto bg-gray-50">
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
