# Elixir version
elixir_version=1.18.1

# Erlang/OTP version
erlang_version=27.0.1

# Always rebuild from scratch on every deploy
always_rebuild=false

# Additional Erlang/OTP Options
runtime_path=/app

# Set node name to shortnames to avoid DNS issues
node_name=blog

# Disable Erlang distribution
erlang_cookie=""